/* -- CSS Variables -- */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
  --green: #31d0aa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link,
a {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--slate);
  background-color: var(--white);
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 768px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1158px) {
    width: 1158px;
    margin: 0 auto;
  }
}

.section {
  padding: 96px 0px;
  width: 100%;

  @media screen and (min-width: 768px) {
    padding: 96px 0;
    width: 100%;
  }

  @media screen and (min-width: 1158px) {
    padding: 120px 0px;
    width: 100%;
  }
}

.section.no-top-padding {
  padding-top: 0;

  @media screen and (max-width: 1158px) {
    display: none;
  }
}

/* -- General Style --  */
.navigation,
.nav-menu,
.contacts-menu,
.menu,
.menu-toggle {
  display: flex;
  align-items: center;
}

/* Hamburger Icon */
.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.logo-link > span {
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.logo,
.studio {
  display: inline-block;
}

.logo {
  color: var(--iris);
}

.studio {
  color: var(--navy-blue);
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-size: 16px;
  border-radius: 4px;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* End of General Style */

/* Page Header */
.page-header {
  border-bottom: 1px solid var(--cornflower);

  @media screen and (max-width: 767px) {
    height: 70px;
    display: flex;
  }
}

.nav-menu .page,
.contacts-menu .contact {
  color: var(--navy-blue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-menu .contact {
  @media screen and (min-width: 768px) {
    padding: 8px;
    font-size: 12px;
  }

  @media screen and (min-width: 1158px) {
    padding: 8px;
    font-size: unset;
  }
}

.nav-menu {
  margin-left: 93px;
}

.contacts-menu {
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
  }
}

.page {
  position: relative;
  color: var(--iris);
}

.menu .nav-menu,
.menu .contacts-menu {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
}

.page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 4px;
  border-radius: 2px;
  transition: width 250ms ease-in-out, background-color 250ms ease-in-out;
}

.page:hover::after,
.page:focus::after {
  border: 2px solid var(--ocean);
  background-color: var(--ocean);
  width: 100%;
}

.page.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  border: 2px solid var(--ocean);
  background-color: var(--ocean);
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .contact:hover,
.contacts-menu .contact:focus {
  color: var(--iris);
}

.nav-menu .item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 40px;
  }

  @media screen and (min-width: 1158px) {
    margin-right: 50px;
  }
}

.contacts-menu .item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 0px;
  }

  @media screen and (min-width: 1158px) {
    margin-right: 50px;
  }
}

/* --Address-- */

.contacts-menu .contact {
  color: var(--slate);
  font-weight: 400;
}

/* --Main-- */
/* --Hero Section-- */
.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(
      0deg,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office-mobile.jpg");
  text-align: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        0deg,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office-mobile@2x.jpg");
  }

  @media screen and (min-width: 768px) {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        0deg,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office-tablet.jpg");
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          0deg,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/people-office-tablet@2x.jpg");
    }
  }

  @media screen and (min-width: 1158px) {
    background-image: linear-gradient(
        0deg,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;

    /* Desktop */
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          0deg,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/people-office-desktop@2x.jpg");
    }
  }
}

.hero-title {
  font-size: 36px;
  margin-bottom: 72px;
  color: var(--white);

  @media screen and (min-width: 768px) {
    font-size: 56px;
    margin-bottom: 36px;
    color: var(--white);
  }

  @media screen and (min-width: 1158px) {
    color: var(--white);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.72px;
    margin-bottom: 48px;
  }
}

.button.primary {
  color: var(--white);
  background-color: var(--iris);
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-weight: 500;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1) 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px, 2px, 2px, rgba(0, 0, 0, 0.12);
}

.button.filter {
  color: var(--iris);
  background: var(--cloud);
  font-weight: 500;
  line-height: 1.62;
  padding: 12px 24px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.filters-section {
  padding-top: 96px;
}

/* checked */
.filters .space + .space {
  margin-left: 24px;

  @media screen and (max-width: 767px) {
    margin-left: 0;
  }
}

.filters .space {
  margin-left: 24px;

  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
    margin-left: 0;
    margin-right: 24px;
  }
}

/* checked */
.button.filter {
  color: var(--iris);
  background-color: var(--cloud);
  font-weight: 500;
  line-height: 1.62;
  padding: 12px 24px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* checked */
.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--ocean);
  color: var(--cloud);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* PORTFOLIO SECTION 1 PROJECT */
/* checked */
.projects {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}

/* checked */
.project-card {
  margin-bottom: 48px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 356px;
  }

  @media screen and (min-width: 1158px) {
    width: 356px;
  }
}

.project-card:hover,
.project-card:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-overlay-container {
  position: relative;
  overflow: hidden;
}

.project-name {
  background-color: var(--iris);
  color: var(--cloud, #f4f4fd);
  position: absolute;
  top: 0;
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card a:hover .project-name,
.project-card a:focus .project-name {
  transform: translateY(0);
}

/* checked */
.substrate {
  background-color: var(--white);
  padding: 32px 16px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

/* checked */
.project .name {
  margin-bottom: 4px;
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* checked */
.project .type {
  color: var(--slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

/* ICONS */

.partners .item {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners .item:hover,
.partners .item:focus {
  color: var(--ocean);
  border-color: var(--ocean);
}

.circle:hover,
.circle:focus {
  background-color: var(--green);
}

.benefits .icon {
  display: none;

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1158px) {
    display: unset;
    background: var(--cloud);
    width: 264px;
    height: 112px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 8px;
  }
}

/* -- Section 1 -- */
.benefits {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.benefits .item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 72px;
  }
}

.benefits .item {
  @media screen and (min-width: 768px) {
    width: 312px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.benefits .item {
  flex-basis: calc(100% / 4 - 30px);

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
  }
}

.benefits .title {
  @media screen and (max-width: 767px) {
    color: var(--navy-blue, #2e2f42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 10px;
  }

  @media screen and (min-width: 768px) {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    color: var(--navy-blue);
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1158px) {
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.14;
    margin-bottom: 10px;
  }
}

.benefits br {
  display: none;

  @media screen and (min-width: 1158px) {
    display: unset;
  }
}

.benefits .description {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* --Services Section-- */
.what-we-do {
  flex-wrap: wrap;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.what-we-do .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.section-title {
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 50px;
}

/* -- People Section / Team -- */
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    margin: 0 auto;
    justify-content: center;
    gap: 72px;
    width: 270px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
  }
}

.team .item {
  padding-bottom: 30px;
  flex-basis: auto;
  background: var(--white, #fff);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.bg-team {
  background-color: var(--cloud);
}

.team .name,
.team .position {
  line-height: 1.19;
  text-align: center;
}

.team .name {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 10px;
}

.team .position {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.substrate {
  background-color: var(--white);
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.socialmedia {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 10px;
}

.circle {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.socialmedia .circle {
  width: 40px;
  height: 40px;
}

.socialmedia .icons {
  fill: currentColor;
}

.socialmedia .link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--cloud);
  background-color: var(--iris);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialmedia .link:hover,
.socialmedia .link:focus {
  background-color: var(--ocean);
}

/* Customers */

.partners {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px 24px;

  @media screen and (min-width: 1158px) {
    gap: 24px;
    flex-wrap: nowrap;
  }
}

.partners .item {
  color: var(--light-slate);
  background: var(--white);
  border: 1px solid var(--lightslate, #8e8f99);
  border-radius: 4px;
  width: 168px;
  height: 88px;
}

.partners .item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners .icons {
  fill: currentColor;
  width: 104px;
  height: 56px;
}

.partners .link {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* --Footer-- */
.studio-footer {
  color: var(--cloud);
  font-size: 18px;
  font-weight: 800;
}

/* checked */
.page-footer {
  padding: 96px 0;
  width: 100%;
  background-color: var(--navy-blue);

  @media screen and (min-width: 768px) {
    padding: 96px 0;
    width: 100%;
  }

  @media screen and (min-width: 1158px) {
    padding: 100px 0;
    background-color: var(--navy-blue);
    width: 100%;
  }
}

.footer-container {
  display: flex;

  @media screen and (max-width: 767px) {
    display: block;
  }

  @media screen and (min-width: 768px) {
    padding-left: 108px;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1158px) {
    padding-left: unset;
  }
}

.footer-logo {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
  }
}

.footer-description-item {
  margin-right: 16px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-container-1 {
  @media screen and (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 24px;
  }

  @media screen and (min-width: 1158px) {
    margin-right: 120px;
  }
}

.footer-container-2 {
  @media screen and (max-width: 767px) {
    margin-bottom: 72px;
  }
}

/*checked*/
.footer-description-list {
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  display: flex;

  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}

/* checked */
.footer-description {
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
  }
}

.footer-container-1 .footer-description {
  color: var(--cloud);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-top: 18px;
}

.footer-container-2 .footer-description {
  color: var(--white);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.footer-description-list .footer-description-item {
  background-color: var(--iris);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  fill: var(--cloud);
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-description-list .footer-description-item:hover,
.footer-description-list .footer-description-item:focus {
  background-color: var(--green);
}

.row {
  display: flex;
  flex-direction: row;
}

.footer-container form {
  display: flex;
  align-items: flex-end;
}

.footer-form {
  @media screen and (max-width: 767px) {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  @media screen and (min-width: 768px) {
    margin-left: 0;
    margin-top: 72px;
  }

  @media screen and (min-width: 1158px) {
    width: 453px;
    height: 80px;
    flex-shrink: 0;
    margin-left: 80px;
    margin-top: 0;
  }
}

.footer-form form {
  @media screen and (max-width: 767px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-form_label {
  display: block;
  color: var(--white);
  font-weight: 500;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.footer-form-input {
  color: var(--whitecolor);
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  display: flex;
  margin-top: 16px;
  font-size: 14px;
  flex-shrink: 0;
  background: var(--navyblue, #2e2f42);
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  @media screen and (max-width: 767px) {
    width: 100%;
    margin: auto;
    margin-top: 16px;
  }
}

.footer-form-input:hover,
.footer-form-input:focus {
  border: 1px solid var(--iris);
  outline: none;
}

.footer-form-input::placeholder {
  color: var(--whitecolor, #fff);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
}

.footer-form-button {
  height: 40px;
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-left: 24px;
  border: none;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border-radius: 4px;
  color: var(--white);
  background: var(--iris);
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }
}

.footer-form-svgsubscribe {
  width: 24px;
  height: 24px;
  fill: var(--white);
}

.footer-form-button:hover {
  background-color: var(--ocean);
}

/* --Portfolio Images-- */

.project .name {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  /* 120% */
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.project .type {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;

  @media screen and (max-width: 767px) {
    margin-left: 0px;
    margin-top: 0px;
  }

  @media screen and (min-width: 768px) {
    margin-left: 0px;
    margin-top: 0px;
  }
}

.project-card {
  flex-basis: 100%;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 24px);
    gap: 72px 24px;
    justify-content: center;
  }

  @media screen and (min-width: 1158px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.project-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.cover {
  position: relative;
  overflow: hidden;
}

.cover .text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--cloud);
  background-color: var(--iris);
  transform: translateY(101%);
  transition: transform 250ms ease-in-out;
}

.cover:hover .text {
  transform: translateY(0);
}

/* MODAL WINDOW */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 428px) {
    width: 100%;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  /* height: 584px; */
  height: auto;
  background-color: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  flex-shrink: 0;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 72px 24px 34px 24px;

  @media screen and (max-width: 428px) {
    width: 100%;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  width: 24px;
  height: 24px;

  background-color: var(--cornflower);
  color: var(--navy-blue);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms ease-in-out;
}

.x-close {
  width: 8px;
  height: 8px;
  fill: currentColor;
}

.close:hover,
.close:focus {
  background-color: var(--ocean);
  color: var(--white);
}

/* .x-close:hover,
.x-close:focus {
  fill: var(--white);
} */
.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

/* Modal Form */
.suggestion {
  width: 360px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: center;

  color: var(--navy-blue);
  /* margin: 72px 24px 34px 24px; */
  margin-bottom: 30px;
}

.form {
  display: block;
  /* width: 360px;
  height: 360px; */
}

.column {
  display: block;
  position: relative;
}

.field {
  display: block;
  position: relative;
  flex-direction: column;
  /* margin-left: 24px;
  margin-right: 24px; */
  margin-top: 8px;
}

.label {
  position: absolute;
  top: -16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  /* line-height: 0.87px; */
  letter-spacing: 0.48px;
  color: var(--light-slate);
}

.input,
.textarea {
  width: 100%;
  padding: 11px 16px 11px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  line-height: 14px;
  letter-spacing: 0.48px;

  font-size: 14px;
  font-weight: 400;

  color: var(--navy-blue);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:hover,
.input:focus,
.textarea:hover,
.textarea:focus {
  outline: none;
  border-color: var(--iris);
}

.input {
  margin-bottom: 26px;
}

.textarea {
  height: 120px;
  flex-shrink: 0;
  resize: none;
  padding-left: 12px;
  margin-bottom: 16px;
}

.textarea::placeholder {
  color: var(--navy-blue-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  font-weight: 400;
}

.formicon {
  position: absolute;
  left: 16px;
  top: 35%;

  transform: translateY(-50%);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:hover + .formicon,
.input:focus + .formicon {
  fill: var(--iris);
}

.agreement {
  position: relative;
  display: flex;
  /* flex-shrink: 0; */
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  top: 0;
  left: 0;

  /* margin: 0 0 24px 22px; */
  margin-bottom: 26px;

  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
}

.terms {
  color: var(--iris);
  text-decoration-line: underline;
  cursor: pointer;
}

.form-checkbox-icon {
  position: absolute;
  fill: none;
  /* stroke-width: 1px;
  stroke: var(--navyblue, rgba(46, 47, 66, 0.4)); */
  border: 1px solid var(--light-slate);
  border-radius: 2px;
  margin-right: 7px;
  width: 16px;
  height: 16px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}

.form-checkbox:checked + .form-checkbox-icon {
  background-color: var(--iris);
  border-color: var(--iris);
  fill: var(--cloud);
}

.button.center {
  display: block;
  text-align: center;
  margin: 0 auto;
  /* margin-bottom: 24px; */

  color: var(--white);
  background-color: var(--iris);
  line-height: 24px;
  letter-spacing: 0.64px;
  font-weight: 500;
  font-size: 16px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  width: 169px;
  height: 56px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.center:hover,
.button.center:focus {
  background-color: var(--ocean);
  color: var(--white);
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
}

.footer-subscribe-form {
  display: block;
}

/* hamburger */
.menu-toggle {
  min-height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle,
  .menu-container {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 40px 40px;
  background-color: var(--white);
  z-index: 99999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  @media screen and (max-width: 767px) {
    padding: 80px 0 40px 40px;
  }

  @media screen and (max-width: 428px) {
    padding: 80px 20px;
  }
}

.menu-container.is-open {
  transform: translateX(0);
  height: 100vh;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  color: var(--navy-blueblue);
  border: 1px solid var(--cornflower);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-container-wrap {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  height: 100%;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  text-decoration: none;

  @media screen and (max-width: 767px) {
    padding: 0;
  }
}

.hamburger-menu-link {
  font-family: var(--font-family-roboto);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  line-height: 1.5;
  color: var(--navy-blue);
  position: relative;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger-menu-link.current {
  color: var(--ocean);
}

.mobile-menu .hamburger-menu-link.current::after {
  content: "";
  color: var(--ocean);
}

.mobile-menu .hamburger-menu-link:focus {
  color: var(--iris);
}

.hamburger-contact-link {
  font-family: var(--font-family-roboto);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.72px;
  line-height: 1.5;
  color: var(--iris);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger-contact-link:focus {
  color: var(--ocean);
}

.email-link {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: var(--slate);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.email-link:focus {
  color: var(--iris);
}

.mobile-contact-link {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-social-list {
  display: flex;
  margin-top: 48px;
  flex-wrap: wrap;
  gap: 56px;
}

.mobile-social-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--iris);
  width: 40px;
  height: 40px;
  padding: 8px;
  outline: none;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-item a:hover,
.mobile-social-item a:focus {
  background-color: var(--green);
}

.footer-social-profile {
  fill: var(--white);
}
